src/flows/Comprehensive_Assessment-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Note_no_next_of_kin</name>
        <label>Note no next of kin</label>
        <locationX>232</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Recorded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterNOKDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NOK</name>
        <label>Set NOK</label>
        <locationX>236</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_of_next_of_kin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Last_name_of_next_of_kin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Still_No_NOK</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Always_nearly_always</name>
        <choiceText>Always/nearly always</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>3.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Brother</name>
        <choiceText>Brother</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Brother</elementReference>
        </value>
    </choices>
    <choices>
        <name>Choice_No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Choice_Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Daughter</name>
        <choiceText>Daughter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Daughter</elementReference>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Father</elementReference>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Friend</elementReference>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Husband</elementReference>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Mother</elementReference>
        </value>
    </choices>
    <choices>
        <name>Never_almost_never</name>
        <choiceText>Never/almost never</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Often</name>
        <choiceText>Often</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>2.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Other_family</name>
        <choiceText>Other family</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Otherfamily</elementReference>
        </value>
    </choices>
    <choices>
        <name>Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Partner</elementReference>
        </value>
    </choices>
    <choices>
        <name>Sister</name>
        <choiceText>Sister</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Sister</elementReference>
        </value>
    </choices>
    <choices>
        <name>Sometimes</name>
        <choiceText>Sometimes</choiceText>
        <dataType>Number</dataType>
        <value>
            <numberValue>1.0</numberValue>
        </value>
    </choices>
    <choices>
        <name>Son</name>
        <choiceText>Son</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Son</elementReference>
        </value>
    </choices>
    <choices>
        <name>Wife</name>
        <choiceText>Wife</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Wife</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>c_Brother</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Brother</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Daughter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Daughter</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Father</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Friend</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Husband</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Mother</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Otherfamily</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other family</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Partner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Sister</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sister</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Son</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Son</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Wife</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wife</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Zero</name>
        <dataType>Number</dataType>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_next_of_kin</name>
        <label>Check for next of kin</label>
        <locationX>504</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>In_Case_Of_An_Emergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>No_Next_of_Kin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientNOKName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Note_no_next_of_kin</targetReference>
            </connector>
            <label>No Next of Kin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_receive_help_for_drug_use_in_past</name>
        <label>Did receive help for drug use in past</label>
        <locationX>1057</locationX>
        <locationY>198</locationY>
        <defaultConnector>
            <targetReference>SubstanceUse</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did not receive help for drug use in past</defaultConnectorLabel>
        <rules>
            <name>Received_help_for_drug_use_in_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_ever_received_help_for_your_drug_use_in_the_past</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Help_for_drug_use_in_the_past</targetReference>
            </connector>
            <label>Received help for drug use in past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Did_Received_help_for_alcohol_use_in_the_past</name>
        <label>Did received help for alcohol use in the past</label>
        <locationX>1479</locationX>
        <locationY>194</locationY>
        <defaultConnector>
            <targetReference>Did_receive_help_for_drug_use_in_past</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Did Not receive help for alcohol use in the past</defaultConnectorLabel>
        <rules>
            <name>Received_help_for_alcohol_use_in_the_past</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Have_you_ever_received_help_for_your_alcohol_use_in_the_past</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Help_for_alcohol_in_past</targetReference>
            </connector>
            <label>Received help for alcohol use in the past</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Substance_entered</name>
        <label>Is Substance entered</label>
        <locationX>861</locationX>
        <locationY>612</locationY>
        <defaultConnector>
            <targetReference>Create_Substance_Use</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Record a substance use</defaultConnectorLabel>
        <rules>
            <name>No_Substance_entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Name_of_substance</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Finished</targetReference>
            </connector>
            <label>No Substance entered</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_substance_use_an_issue</name>
        <label>Is substance use an issue</label>
        <locationX>904</locationX>
        <locationY>87</locationY>
        <defaultConnector>
            <targetReference>Finished</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Substance use not an issue</defaultConnectorLabel>
        <rules>
            <name>Substance_use_is_an_issue</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Is_substance_use_and_issue</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Substance_use_details_past</targetReference>
            </connector>
            <label>Substance use is an issue</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_NOK</name>
        <label>Is this a new NOK</label>
        <locationX>206</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Update_Client_with_NOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>New_NOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NOKID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_new_NOK</targetReference>
            </connector>
            <label>New NOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_No_NOK</name>
        <label>Still No NOK</label>
        <locationX>224</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>LookupNOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Still_No_NOK_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Last_name_of_next_of_kin</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue></stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Referral_Details</targetReference>
            </connector>
            <label>Still No NOK Entered</label>
        </rules>
    </decisions>
    <label>Comprehensive Assessment</label>
    <recordCreates>
        <name>Create_new_NOK</name>
        <label>Create new NOK</label>
        <locationX>86</locationX>
        <locationY>828</locationY>
        <assignRecordIdToReference>NOKID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Client_with_NOK</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Referral_Details</targetReference>
        </faultConnector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_of_next_of_kin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_name_of_next_of_kin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Area_Town</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>City_County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>NOK_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GeneralRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Substance_Use</name>
        <label>Create Substance Use</label>
        <locationX>1167</locationX>
        <locationY>647</locationY>
        <assignRecordIdToReference>Latestsubstanceuse</assignRecordIdToReference>
        <connector>
            <targetReference>SubstanceUse</targetReference>
        </connector>
        <inputAssignments>
            <field>Comprehensive_Assessment__c</field>
            <value>
                <elementReference>NewAssessment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_use_out_of_control__c</field>
            <value>
                <elementReference>Do_you_think_the_use_is_out_of_control</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Name_of_substance</elementReference>
            </value>
        </inputAssignments>
        <object>Substance_Use__c</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAssessmentRecord</name>
        <label>CreateAssessmentRecord</label>
        <locationX>495</locationX>
        <locationY>596</locationY>
        <assignRecordIdToReference>NewAssessment</assignRecordIdToReference>
        <connector>
            <targetReference>Substance_Use_Description</targetReference>
        </connector>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_person_aware_of_your_drug_use__c</field>
            <value>
                <elementReference>Is_this_person_aware_of_your_drug_use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_mobile_number__c</field>
            <value>
                <elementReference>Can_we_phone_you_on_your_mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_referral__c</field>
            <value>
                <elementReference>Reason_for_referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_date__c</field>
            <value>
                <elementReference>Referral_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer__c</field>
            <value>
                <elementReference>ReferrerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Write_to_you_at_this_address__c</field>
            <value>
                <elementReference>Can_we_write_to_you_at_this_address</elementReference>
            </value>
        </inputAssignments>
        <object>Comprehensive_Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Find_Client</name>
        <label>Find Client</label>
        <locationX>340</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ClientCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientNOKName</assignToReference>
            <field>NOK_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NOKID</assignToReference>
            <field>eCASS02t1__Next_of_Kin__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Contact_Record_Type</name>
        <label>Get General Contact Record Type</label>
        <locationX>154</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Find_Client</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>GeneralRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupNOK</name>
        <label>LookupNOK</label>
        <locationX>205</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Is_this_a_new_NOK</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NOK_Mobile</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientNOKName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NOKID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Assessement_with_Alcohol_Use_Details</name>
        <label>Update Assessement with Alcohol Use Details</label>
        <locationX>1223</locationX>
        <locationY>247</locationY>
        <connector>
            <targetReference>Did_receive_help_for_drug_use_in_past</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAssessment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ever_received_help_re_alcohol_use__c</field>
            <value>
                <elementReference>Have_you_ever_received_help_for_your_alcohol_use_in_the_past</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_help_received_re_alcohol_where_when__c</field>
            <value>
                <elementReference>Where_did_you_receive_the_treatment_help_for_alcohol_use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_useful_about_alcohol_help_treatment__c</field>
            <value>
                <elementReference>What_did_you_find_most_useful_about_this_help_treatment_alcohol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_ourcome_after_alcohol_treatment__c</field>
            <value>
                <elementReference>Overall_outcome_after_alcohol_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_help_treatment_received_re_alcohol__c</field>
            <value>
                <elementReference>Type_of_treatment_help_received_alcohol</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_treatment_re_alcoho_required_now__c</field>
            <value>
                <elementReference>What_type_of_help_treatment_do_you_think_would_be_beneficial_to_you_now_alcohol</elementReference>
            </value>
        </inputAssignments>
        <object>Comprehensive_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Assessement_with_Drug_Use_Details</name>
        <label>Update Assessement with Drug Use Details</label>
        <locationX>1080</locationX>
        <locationY>498</locationY>
        <connector>
            <targetReference>SubstanceUse</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NewAssessment</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>Ever_received_help_re_drug_use__c</field>
            <value>
                <elementReference>Have_you_ever_received_help_for_your_drug_use_in_the_past</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>If_help_received_re_drug_where_when__c</field>
            <value>
                <elementReference>Where_did_you_receive_the_treatment_help_for_drug_use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Most_useful_about_drug_help_treatment__c</field>
            <value>
                <elementReference>What_did_you_find_most_useful_about_this_help_treatment_drug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Overall_ourcome_after_drug_treatment__c</field>
            <value>
                <elementReference>Overall_outcome_after_drug_treatment</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_help_treatment_received_re_drug__c</field>
            <value>
                <elementReference>Type_of_treatment_help_received_drug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Type_of_treatment_re_drug_required_now__c</field>
            <value>
                <elementReference>What_type_of_help_treatment_do_you_think_would_be_beneficial_to_you_now_drug</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Withdrawal_symptom_stop_taking_substance__c</field>
            <value>
                <elementReference>Withdrawal_symptoms_when_you_stop_taking_substance</elementReference>
            </value>
        </inputAssignments>
        <object>Comprehensive_Assessment__c</object>
    </recordUpdates>
    <recordUpdates>
        <name>Update_Client_with_NOK</name>
        <label>Update Client with NOK</label>
        <locationX>268</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>In_Case_Of_An_Emergency</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NOK_Relationship__c</field>
            <value>
                <elementReference>Relationship_to_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCASS02t1__Next_of_Kin__c</field>
            <value>
                <elementReference>NOKID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>EnterNOKDetails</name>
        <label>EnterNOKDetails</label>
        <locationX>231</locationX>
        <locationY>240</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Set_NOK</targetReference>
        </connector>
        <fields>
            <name>NoNOKTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can enter your next of kin details here.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If a contact is found with the same name and mobile, then that contact will be used.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Otherwise a new contact will be created with these details.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_of_next_of_kin</name>
            <dataType>String</dataType>
            <fieldText>First name of next of kin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_name_of_next_of_kin</name>
            <dataType>String</dataType>
            <fieldText>Last name of next of kin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NOK_Mobile</name>
            <dataType>String</dataType>
            <fieldText>NOK Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Area_Town</name>
            <dataType>String</dataType>
            <fieldText>Area/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_County</name>
            <dataType>String</dataType>
            <fieldText>City/County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship_to_you</name>
            <choiceReferences>Wife</choiceReferences>
            <choiceReferences>Husband</choiceReferences>
            <choiceReferences>Partner</choiceReferences>
            <choiceReferences>Mother</choiceReferences>
            <choiceReferences>Father</choiceReferences>
            <choiceReferences>Sister</choiceReferences>
            <choiceReferences>Brother</choiceReferences>
            <choiceReferences>Daughter</choiceReferences>
            <choiceReferences>Son</choiceReferences>
            <choiceReferences>Other_family</choiceReferences>
            <choiceReferences>Friend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to you</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>497</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Done</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Finished - Comprehensive Assessment has been created&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>Help_for_alcohol_in_past</name>
        <label>Help for alcohol in past</label>
        <locationX>1332</locationX>
        <locationY>359</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Assessement_with_Alcohol_Use_Details</targetReference>
        </connector>
        <fields>
            <name>AlcoholTreatmentDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Alcohol Treatment Details&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Where_did_you_receive_the_treatment_help_for_alcohol_use</name>
            <fieldText>Where did you receive the treatment/help for alcohol use?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_of_treatment_help_received_alcohol</name>
            <fieldText>Type of treatment/help received</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please describe the type of help/ treatment you received

(E.g. individual counselling, group counselling, residential rehabilitation, etc)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_did_you_find_most_useful_about_this_help_treatment_alcohol</name>
            <fieldText>What did you find most useful about this help/ treatment?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Overall_outcome_after_alcohol_treatment</name>
            <fieldText>Overall outcome after alcohol treatment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What, in your opinion, was the overall outcome for you and your alcohol use having received this help / treatment?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_type_of_help_treatment_do_you_think_would_be_beneficial_to_you_now_alcohol</name>
            <fieldText>What type of help /treatment do you think would be beneficial to you now?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Help_for_drug_use_in_the_past</name>
        <label>Help for drug use in the past</label>
        <locationX>1152</locationX>
        <locationY>389</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Update_Assessement_with_Drug_Use_Details</targetReference>
        </connector>
        <fields>
            <name>DrugTreatmentDetails</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Drug Treatment Details&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Where_did_you_receive_the_treatment_help_for_drug_use</name>
            <fieldText>Where did you receive the treatment/help for drug use?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Type_of_treatment_help_received_drug</name>
            <fieldText>Type of treatment/help received</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Please describe the type of help/ treatment you received

(E.g. individual counselling, residential detox, residential rehabilitation, methadone maintenance, etc.)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_did_you_find_most_useful_about_this_help_treatment_drug</name>
            <fieldText>What did you find most useful about this treatment/help?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Overall_outcome_after_drug_treatment</name>
            <fieldText>Overall outcome after drug treatment</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>What, in your opinion, was the overall outcome for you and your drug use having received of this help / treatment?</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>What_type_of_help_treatment_do_you_think_would_be_beneficial_to_you_now_drug</name>
            <fieldText>What type of help /treatment do you think would be beneficial to you now?</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Withdrawal_symptoms_when_you_stop_taking_substance</name>
            <fieldText>Withdrawal symptoms when you stop taking substance</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Do you experience withdrawal symptoms when you stop taking substances? 
(Examples may include nausea, vomiting, diahorrea, abdominal discomfort, muscle aches, anxiety, irritability, insomnia, palpitations, shakes) 
Please give details</helpText>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>In_Case_Of_An_Emergency</name>
        <label>In Case Of An Emergency</label>
        <locationX>504</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Referral_Details</targetReference>
        </connector>
        <fields>
            <name>InCaseOfEmergencyTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In Case If An Emergency&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NOKDetails</name>
            <fieldText>Your next of kin is {!ClientNOKName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_person_aware_of_your_drug_use</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Is this person aware of your drug use?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>505</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Check_for_next_of_kin</targetReference>
        </connector>
        <fields>
            <name>InitialScreenTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Record a Comprehensive Assessment for {!ClientName}&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Assessment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Assessment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClientAddress</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ClientStreet}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ClientCity}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Can_we_write_to_you_at_this_address</name>
            <dataType>Boolean</dataType>
            <fieldText>Can we write to you at this address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_we_phone_you_on_your_mobile</name>
            <dataType>Boolean</dataType>
            <fieldText>Can we phone you on your mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Referral_Details</name>
        <label>Referral Details</label>
        <locationX>500</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>CreateAssessmentRecord</targetReference>
        </connector>
        <fields>
            <name>TODOReferral</name>
            <fieldText>Add code here to select the referral</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Reason_for_referral</name>
            <fieldText>Reason for referral</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Can you give me some details about the reason for your referral? (What are the issues / difficulties you have been experiencing?)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referral_date</name>
            <dataType>Date</dataType>
            <fieldText>Referral date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Substance_Use_Description</name>
        <label>Substance Use Description</label>
        <locationX>729</locationX>
        <locationY>95</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Is_substance_use_an_issue</targetReference>
        </connector>
        <fields>
            <name>Is_substance_use_and_issue</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Is substance use an issue</fieldText>
            <fieldType>DropdownBox</fieldType>
            <helpText>If substance use is not an issue, ignore the &quot;Current substance use and description&quot;</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Current_substance_use_description</name>
            <fieldText>Current substance use description</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <helpText>Is there anything you would like to tell me about your current substance use including any current Drug Using Risk Behaviours? 
(Refer to Current Drug Use &amp; Drug Using Risk Behaviours in Initial Assessment.)</helpText>
    </screens>
    <screens>
        <name>Substance_use_details_past</name>
        <label>Substance use details</label>
        <locationX>1169</locationX>
        <locationY>90</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Did_Received_help_for_alcohol_use_in_the_past</targetReference>
        </connector>
        <fields>
            <name>SubstanceUsePastTitle</name>
            <fieldText>Have you ever received help for your drug or alcohol use in the past?</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Have_you_ever_received_help_for_your_drug_use_in_the_past</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Have you ever received help for your drug use in the past?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Have_you_ever_received_help_for_your_alcohol_use_in_the_past</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <fieldText>Have you ever received help for your alcohol use in the past?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>SubstanceUse</name>
        <label>Substance Use</label>
        <locationX>890</locationX>
        <locationY>483</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Is_Substance_entered</targetReference>
        </connector>
        <fields>
            <name>SubstanceUseTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Substance Use - Leave blank if no further substances&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Name_of_substance</name>
            <dataType>String</dataType>
            <fieldText>Name of substance</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Do_you_think_the_use_is_out_of_control</name>
            <choiceReferences>Never_almost_never</choiceReferences>
            <choiceReferences>Sometimes</choiceReferences>
            <choiceReferences>Often</choiceReferences>
            <choiceReferences>Always_nearly_always</choiceReferences>
            <dataType>Number</dataType>
            <fieldText>Do you think the use is out of control?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
            <scale>0</scale>
        </fields>
    </screens>
    <startElementReference>Get_General_Contact_Record_Type</startElementReference>
    <variables>
        <name>ClientAddressFromLookup</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientCity</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientNOKName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Recorded</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClientStreet</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneralRecordTypeID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>Latestsubstanceuse</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAssessment</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NOKID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NOKMobile</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferrerID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferringAgencyID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
