src/flows/Comprehensive_Assessment-1.flow
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>Note_no_next_of_kin</name>
        <label>Note no next of kin</label>
        <locationX>232</locationX>
        <locationY>140</locationY>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Not Recorded</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>EnterNOKDetails</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Set_NOK</name>
        <label>Set NOK</label>
        <locationX>236</locationX>
        <locationY>362</locationY>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>First_Name_of_next_of_kin</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>&amp;nbsp;</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ClientNOKName</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Last_name_of_next_of_kin</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Still_No_NOK</targetReference>
        </connector>
    </assignments>
    <choices>
        <name>Brother</name>
        <choiceText>Brother</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Brother</elementReference>
        </value>
    </choices>
    <choices>
        <name>Daughter</name>
        <choiceText>Daughter</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Daughter</elementReference>
        </value>
    </choices>
    <choices>
        <name>Father</name>
        <choiceText>Father</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Father</elementReference>
        </value>
    </choices>
    <choices>
        <name>Friend</name>
        <choiceText>Friend</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Friend</elementReference>
        </value>
    </choices>
    <choices>
        <name>Husband</name>
        <choiceText>Husband</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Husband</elementReference>
        </value>
    </choices>
    <choices>
        <name>Mother</name>
        <choiceText>Mother</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Mother</elementReference>
        </value>
    </choices>
    <choices>
        <name>No</name>
        <choiceText>No</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>false</booleanValue>
        </value>
    </choices>
    <choices>
        <name>Other_family</name>
        <choiceText>Other family</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Otherfamily</elementReference>
        </value>
    </choices>
    <choices>
        <name>Partner</name>
        <choiceText>Partner</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Partner</elementReference>
        </value>
    </choices>
    <choices>
        <name>Sister</name>
        <choiceText>Sister</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Sister</elementReference>
        </value>
    </choices>
    <choices>
        <name>Son</name>
        <choiceText>Son</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Son</elementReference>
        </value>
    </choices>
    <choices>
        <name>Wife</name>
        <choiceText>Wife</choiceText>
        <dataType>String</dataType>
        <value>
            <elementReference>c_Wife</elementReference>
        </value>
    </choices>
    <choices>
        <name>Yes</name>
        <choiceText>Yes</choiceText>
        <dataType>Boolean</dataType>
        <value>
            <booleanValue>true</booleanValue>
        </value>
    </choices>
    <constants>
        <name>c_Brother</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Brother</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Daughter</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Daughter</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Father</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Father</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Friend</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Friend</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Husband</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Husband</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Mother</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Mother</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Otherfamily</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Other family</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Partner</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Partner</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Sister</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Sister</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Son</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Son</stringValue>
        </value>
    </constants>
    <constants>
        <name>c_Wife</name>
        <dataType>String</dataType>
        <value>
            <stringValue>Wife</stringValue>
        </value>
    </constants>
    <decisions>
        <name>Check_for_next_of_kin</name>
        <label>Check for next of kin</label>
        <locationX>504</locationX>
        <locationY>131</locationY>
        <defaultConnector>
            <targetReference>In_Case_Of_An_Emergency</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>No_Next_of_Kin</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientNOKName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Note_no_next_of_kin</targetReference>
            </connector>
            <label>No Next of Kin</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_Referrer_found</name>
        <label>Is Referrer found</label>
        <locationX>724</locationX>
        <locationY>614</locationY>
        <defaultConnector>
            <targetReference>CreateAssessmentRecord</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Referrer_not_found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferrerID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Enter_Referrer_Details</targetReference>
            </connector>
            <label>Referrer not found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_referring_agency_found</name>
        <label>Is referring agency found</label>
        <locationX>733</locationX>
        <locationY>948</locationY>
        <defaultConnector>
            <targetReference>Create_Referrer</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Referring Agency Found</defaultConnectorLabel>
        <rules>
            <name>Referring_Agency_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ReferringAgencyID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>ReferringAgencyNotFound</targetReference>
            </connector>
            <label>Referring Agency Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Is_this_a_new_NOK</name>
        <label>Is this a new NOK</label>
        <locationX>206</locationX>
        <locationY>694</locationY>
        <defaultConnector>
            <targetReference>Update_Client_with_NOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>New_NOK</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>NOKID</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Create_new_NOK</targetReference>
            </connector>
            <label>New NOK</label>
        </rules>
    </decisions>
    <decisions>
        <name>Still_No_NOK</name>
        <label>Still No NOK</label>
        <locationX>224</locationX>
        <locationY>475</locationY>
        <defaultConnector>
            <targetReference>LookupNOK</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Continue</defaultConnectorLabel>
        <rules>
            <name>Still_No_NOK_Entered</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ClientNOKName</leftValueReference>
                <operator>EqualTo</operator>
            </conditions>
            <connector>
                <targetReference>Referral_Details</targetReference>
            </connector>
            <label>Still No NOK Entered</label>
        </rules>
    </decisions>
    <label>Comprehensive Assessment</label>
    <recordCreates>
        <name>Create_new_NOK</name>
        <label>Create new NOK</label>
        <locationX>86</locationX>
        <locationY>828</locationY>
        <assignRecordIdToReference>NOKID</assignRecordIdToReference>
        <connector>
            <targetReference>Update_Client_with_NOK</targetReference>
        </connector>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_of_next_of_kin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_name_of_next_of_kin</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingCity</field>
            <value>
                <elementReference>Area_Town</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingState</field>
            <value>
                <elementReference>City_County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MailingStreet</field>
            <value>
                <elementReference>Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>MobilePhone</field>
            <value>
                <elementReference>NOK_Mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GeneralRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referrer</name>
        <label>Create Referrer</label>
        <locationX>1104</locationX>
        <locationY>797</locationY>
        <assignRecordIdToReference>ReferrerID</assignRecordIdToReference>
        <connector>
            <targetReference>CreateAssessmentRecord</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>ReferringAgencyID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>First_Name_of_referrer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Last_Name_of_referrer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Contact_number_of_referrer</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>RecordTypeId</field>
            <value>
                <elementReference>GeneralRecordTypeID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Referring_Agency</name>
        <label>Create Referring Agency</label>
        <locationX>720</locationX>
        <locationY>1187</locationY>
        <assignRecordIdToReference>ReferringAgencyID</assignRecordIdToReference>
        <connector>
            <targetReference>Create_Referrer</targetReference>
        </connector>
        <inputAssignments>
            <field>BillingCity</field>
            <value>
                <elementReference>Referring_Agency_Area_Town</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingState</field>
            <value>
                <elementReference>Referring_Agency_City_County</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>BillingStreet</field>
            <value>
                <elementReference>Referring_Agency_Street</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>Referring_Agency</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>CreateAssessmentRecord</name>
        <label>CreateAssessmentRecord</label>
        <locationX>495</locationX>
        <locationY>596</locationY>
        <assignRecordIdToReference>NewAssessment</assignRecordIdToReference>
        <connector>
            <targetReference>Finished</targetReference>
        </connector>
        <inputAssignments>
            <field>Address_of_referring_agency__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Assessment_Date__c</field>
            <value>
                <elementReference>Assessment_Date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Client__c</field>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Contact_number_of_referrer_referring__c</field>
        </inputAssignments>
        <inputAssignments>
            <field>Is_this_person_aware_of_your_drug_use__c</field>
            <value>
                <elementReference>Is_this_person_aware_of_your_drug_use</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>On_mobile_number__c</field>
            <value>
                <elementReference>Can_we_phone_you_on_your_mobile</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Reason_for_referral__c</field>
            <value>
                <elementReference>Reason_for_referral</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referral_date__c</field>
            <value>
                <elementReference>Referral_date</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Referrer__c</field>
            <value>
                <elementReference>ReferrerID</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Write_to_you_at_this_address__c</field>
            <value>
                <elementReference>Can_we_write_to_you_at_this_address</elementReference>
            </value>
        </inputAssignments>
        <object>Comprehensive_Assessment__c</object>
    </recordCreates>
    <recordLookups>
        <name>Check_Referrer_Is_in_System</name>
        <label>Check Referrer Is in System</label>
        <locationX>708</locationX>
        <locationY>517</locationY>
        <connector>
            <targetReference>Is_Referrer_found</targetReference>
        </connector>
        <filters>
            <field>FirstName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>First_Name_of_referrer</elementReference>
            </value>
        </filters>
        <filters>
            <field>LastName</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Last_Name_of_referrer</elementReference>
            </value>
        </filters>
        <filters>
            <field>RecordTypeId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>GeneralRecordTypeID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ReferrerID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_Client</name>
        <label>Find Client</label>
        <locationX>340</locationX>
        <locationY>15</locationY>
        <connector>
            <targetReference>Initial_Screen</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>ClientCity</assignToReference>
            <field>MailingCity</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientStreet</assignToReference>
            <field>MailingStreet</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientNOKName</assignToReference>
            <field>NOK_Name__c</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>ClientName</assignToReference>
            <field>Name</field>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>NOKID</assignToReference>
            <field>eCASS02t1__Next_of_Kin__c</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Find_referring_agency</name>
        <label>Find referring agency</label>
        <locationX>723</locationX>
        <locationY>836</locationY>
        <connector>
            <targetReference>Is_referring_agency_found</targetReference>
        </connector>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>Referring_Agency</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputAssignments>
            <assignToReference>ReferringAgencyID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>Get_General_Contact_Record_Type</name>
        <label>Get General Contact Record Type</label>
        <locationX>154</locationX>
        <locationY>12</locationY>
        <connector>
            <targetReference>Find_Client</targetReference>
        </connector>
        <filters>
            <field>DeveloperName</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>General_contact</stringValue>
            </value>
        </filters>
        <object>RecordType</object>
        <outputAssignments>
            <assignToReference>GeneralRecordTypeID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>LookupNOK</name>
        <label>LookupNOK</label>
        <locationX>205</locationX>
        <locationY>590</locationY>
        <connector>
            <targetReference>Is_this_a_new_NOK</targetReference>
        </connector>
        <filters>
            <field>MobilePhone</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>NOK_Mobile</elementReference>
            </value>
        </filters>
        <filters>
            <field>Name</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientNOKName</elementReference>
            </value>
        </filters>
        <object>Contact</object>
        <outputAssignments>
            <assignToReference>NOKID</assignToReference>
            <field>Id</field>
        </outputAssignments>
    </recordLookups>
    <recordUpdates>
        <name>Update_Client_with_NOK</name>
        <label>Update Client with NOK</label>
        <locationX>268</locationX>
        <locationY>840</locationY>
        <connector>
            <targetReference>In_Case_Of_An_Emergency</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ClientID</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>NOK_Relationship__c</field>
            <value>
                <elementReference>Relationship_to_you</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>eCASS02t1__Next_of_Kin__c</field>
            <value>
                <elementReference>NOKID</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordUpdates>
    <screens>
        <name>Enter_Referrer_Details</name>
        <label>Enter Referrer Details</label>
        <locationX>717</locationX>
        <locationY>732</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Find_referring_agency</targetReference>
        </connector>
        <fields>
            <name>Referrernotfoundheader</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!First_Name_of_referrer} &lt;FONT KERNING=&quot;1&quot;&gt;{!Last_Name_of_referrer} &lt;/FONT&gt;was not found in the system.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter the name of their agency and their phone number and the will be stored as a new contact.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referring_Agency</name>
            <dataType>String</dataType>
            <fieldText>Referring Agency</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Contact_number_of_referrer</name>
            <dataType>String</dataType>
            <fieldText>Contact number of referrer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>EnterNOKDetails</name>
        <label>EnterNOKDetails</label>
        <locationX>233</locationX>
        <locationY>253</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Set_NOK</targetReference>
        </connector>
        <fields>
            <name>NoNOKTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;You can enter your next of kin details here.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;If a contact is found with the same name and mobile, then that contact will be used.&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Otherwise a new contact will be created with these details.&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>First_Name_of_next_of_kin</name>
            <dataType>String</dataType>
            <fieldText>First name of next of kin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_name_of_next_of_kin</name>
            <dataType>String</dataType>
            <fieldText>Last name of next of kin</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>NOK_Mobile</name>
            <dataType>String</dataType>
            <fieldText>NOK Mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Area_Town</name>
            <dataType>String</dataType>
            <fieldText>Area/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>City_County</name>
            <dataType>String</dataType>
            <fieldText>City/County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Relationship_to_you</name>
            <choiceReferences>Wife</choiceReferences>
            <choiceReferences>Husband</choiceReferences>
            <choiceReferences>Partner</choiceReferences>
            <choiceReferences>Mother</choiceReferences>
            <choiceReferences>Father</choiceReferences>
            <choiceReferences>Sister</choiceReferences>
            <choiceReferences>Brother</choiceReferences>
            <choiceReferences>Daughter</choiceReferences>
            <choiceReferences>Son</choiceReferences>
            <choiceReferences>Other_family</choiceReferences>
            <choiceReferences>Friend</choiceReferences>
            <dataType>String</dataType>
            <fieldText>Relationship to you</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Finished</name>
        <label>Finished</label>
        <locationX>497</locationX>
        <locationY>728</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <fields>
            <name>Done</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:18px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Finished - Comprehensive Assessment has been created&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
    </screens>
    <screens>
        <name>In_Case_Of_An_Emergency</name>
        <label>In Case Of An Emergency</label>
        <locationX>504</locationX>
        <locationY>263</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Referral_Details</targetReference>
        </connector>
        <fields>
            <name>InCaseOfEmergencyTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;In Case If An Emergency&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NOKDetails</name>
            <fieldText>Your next of kin is {!ClientNOKName}</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Is_this_person_aware_of_your_drug_use</name>
            <choiceReferences>Yes</choiceReferences>
            <choiceReferences>No</choiceReferences>
            <dataType>Boolean</dataType>
            <defaultSelectedChoiceReference>Yes</defaultSelectedChoiceReference>
            <fieldText>Is this person aware of your drug use?</fieldText>
            <fieldType>DropdownBox</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Initial_Screen</name>
        <label>Initial Screen</label>
        <locationX>505</locationX>
        <locationY>22</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Check_for_next_of_kin</targetReference>
        </connector>
        <fields>
            <name>InitialScreenTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:14px&quot; COLOR=&quot;#CC0000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Record a Comprehensive Assessment&lt;/FONT&gt;&lt;/SPAN&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Client</name>
            <dataType>String</dataType>
            <defaultValue>
                <elementReference>ClientName</elementReference>
            </defaultValue>
            <fieldText>Client</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Assessment_Date</name>
            <dataType>Date</dataType>
            <defaultValue>
                <elementReference>$Flow.CurrentDate</elementReference>
            </defaultValue>
            <fieldText>Assessment Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>ClientAddress</name>
            <fieldText>&lt;SPAN ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!ClientStreet}&lt;/FONT&gt;&lt;/DIV&gt;&lt;DIV ALIGN=&quot;CENTER&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;1&quot;&gt;{!ClientCity}&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Can_we_write_to_you_at_this_address</name>
            <dataType>Boolean</dataType>
            <fieldText>Can we write to you at this address</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Can_we_phone_you_on_your_mobile</name>
            <dataType>Boolean</dataType>
            <fieldText>Can we phone you on your mobile</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
    </screens>
    <screens>
        <name>Referral_Details</name>
        <label>Referral Details</label>
        <locationX>500</locationX>
        <locationY>478</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Check_Referrer_Is_in_System</targetReference>
        </connector>
        <fields>
            <name>First_Name_of_referrer</name>
            <dataType>String</dataType>
            <fieldText>First Name of referrer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Last_Name_of_referrer</name>
            <dataType>String</dataType>
            <fieldText>Last Name of referrer</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Reason_for_referral</name>
            <fieldText>Reason for referral</fieldText>
            <fieldType>LargeTextArea</fieldType>
            <helpText>Can you give me some details about the reason for your referral? (What are the issues / difficulties you have been experiencing?)</helpText>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referral_date</name>
            <dataType>Date</dataType>
            <fieldText>Referral date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <screens>
        <name>ReferringAgencyNotFound</name>
        <label>ReferringAgencyNotFound</label>
        <locationX>724</locationX>
        <locationY>1072</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <connector>
            <targetReference>Create_Referring_Agency</targetReference>
        </connector>
        <fields>
            <name>ReferringAgencyNotFoundTitle</name>
            <fieldText>&lt;SPAN ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;{!Referring_Agency} could not be found in the system.&lt;/FONT&gt;&lt;/SPAN&gt;&lt;DIV ALIGN=&quot;LEFT&quot;&gt;&lt;FONT FACE=&quot;Arial&quot; STYLE=&quot;font-size:12px&quot; COLOR=&quot;#000000&quot; LETTERSPACING=&quot;0&quot; KERNING=&quot;0&quot;&gt;Please enter their address&lt;/FONT&gt;&lt;/DIV&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Referring_Agency_Street</name>
            <dataType>String</dataType>
            <fieldText>Street</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referring_Agency_Area_Town</name>
            <dataType>String</dataType>
            <fieldText>Area/Town</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
        <fields>
            <name>Referring_Agency_City_County</name>
            <dataType>String</dataType>
            <fieldText>City/County</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>false</isRequired>
        </fields>
    </screens>
    <startElementReference>Get_General_Contact_Record_Type</startElementReference>
    <variables>
        <name>ClientAddressFromLookup</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientCity</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientID</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ClientName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ClientNOKName</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue>Not Recorded</stringValue>
        </value>
    </variables>
    <variables>
        <name>ClientStreet</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>GeneralRecordTypeID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>NewAssessment</name>
        <dataType>String</dataType>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NOKID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>NOKMobile</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ReferrerID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ReferringAgencyID</name>
        <dataType>String</dataType>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
